@import url('https://fonts.googleapis.com/css?family=Raleway:600|Roboto+Condensed&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 10px 15px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}